## 0. Load libraries

In [1]:
import pandas as pd

## 1. Load datasets

In [2]:
DT_apa=pd.read_csv('Geko_DT__after putting away.csv',sep=',')
DT_bon=pd.read_csv('Geko_DT__behaviour on hand.csv',sep=',')
DT_spos=pd.read_csv('Geko_DT__Sleep_Position.csv',sep=',')
DT_spoz=pd.read_csv('Geko_DT__Sleep_Poze.csv',sep=',')
DT_sr=pd.read_csv('Geko_DT__splashing_reaction.csv',sep=',')
DT_sr2=pd.read_csv('Geko_DT__splashing_reaction_2.csv',sep=',')
DT_t=pd.read_csv('Geko_DT__touch reaction.csv',sep=',')

In [3]:
DT_apa['Target']='apa'
DT_bon['Target']='bon'
DT_spos['Target']='spos'
DT_spoz['Target']='spoz'
DT_sr['Target']='sr'
DT_sr2['Target']='sr2'
DT_t['Target']='t'

In [4]:
DT=[DT_apa,DT_bon,DT_spos,DT_spoz,DT_sr,DT_sr2,DT_t]

In [5]:
DT_result = pd.concat(DT)

In [6]:
del DT_result['Unnamed: 0']

In [7]:
DT_result

                pred             obs  Fold Target
0     stays in place  stays in place     1    apa
1     stays in place  stays in place     1    apa
2     stays in place            Runs     1    apa
3     stays in place            Runs     1    apa
4     stays in place  stays in place     1    apa
...              ...             ...   ...    ...
2062            Runs     No Movement     5      t
2063            Runs     No Movement     5      t
2064            Runs           moves     5      t
2065            Runs           moves     5      t
2066            Runs           moves     5      t

[14469 rows x 4 columns]

In [9]:
GB_apa=pd.read_csv('Geko_GB__after putting away.csv',sep=',')
GB_bon=pd.read_csv('Geko_GB__behaviour on hand.csv',sep=',')
GB_spos=pd.read_csv('Geko_GB__sleep position.csv',sep=',')
GB_spoz=pd.read_csv('Geko_GB__sleep poze.csv',sep=',')
GB_sr=pd.read_csv('Geko_GB__splashing reaction.csv',sep=',')
GB_sr2=pd.read_csv('Geko_GB__Splashing reaction 2.csv',sep=',')
GB_t=pd.read_csv('Geko_GB__touch reaction.csv',sep=',')

In [10]:
GB_apa['Target']='apa'
GB_bon['Target']='bon'
GB_spos['Target']='spos'
GB_spoz['Target']='spoz'
GB_sr['Target']='sr'
GB_sr2['Target']='sr2'
GB_t['Target']='t'

In [11]:
GB=[GB_apa,GB_bon,GB_spos,GB_spoz,GB_sr,GB_sr2,GB_t]

In [12]:
GB_result = pd.concat(GB)

In [13]:
del GB_result['Unnamed: 0']

In [14]:
GB_result

                pred             obs  Fold Target
0     stays in place  stays in place     1    apa
1     stays in place  stays in place     1    apa
2     stays in place            Runs     1    apa
3     stays in place            Runs     1    apa
4     stays in place  stays in place     1    apa
...              ...             ...   ...    ...
2062            Runs     No Movement     5      t
2063     No Movement     No Movement     5      t
2064            Runs           moves     5      t
2065            Runs           moves     5      t
2066     No Movement           moves     5      t

[14469 rows x 4 columns]

In [16]:
XGB_apa=pd.read_csv('Geko_XGB__after putting away.csv',sep=',')
XGB_bon=pd.read_csv('Geko_XGB__behaviour on hand.csv',sep=',')
XGB_spos=pd.read_csv('Geko_XGB__sleep position.csv',sep=',')
XGB_spoz=pd.read_csv('Geko_XGB__sleep poze.csv',sep=',')
XGB_sr=pd.read_csv('Geko_XGB__splashing reaction.csv',sep=',')
XGB_sr2=pd.read_csv('Geko_XGB__Splashing reaction 2.csv',sep=',')
XGB_t=pd.read_csv('Geko_XGB__touch reaction.csv',sep=',')

## 2. Change numbers back to categories (decode)

In [17]:
XGB_apa

      Unnamed: 0  pred  obs  Fold
0              0     3    3     1
1              1     3    3     1
2              2     1    0     1
3              3     3    0     1
4              4     3    3     1
...          ...   ...  ...   ...
2062        2062     0    3     5
2063        2063     3    3     5
2064        2064     3    2     5
2065        2065     3    2     5
2066        2066     3    1     5

[2067 rows x 4 columns]

In [18]:
XGB_apa = XGB_apa.replace({'pred':{0: 'Runs', 1: 'hides', 2: 'moves', 3: 'stays in place'}})
XGB_apa = XGB_apa.replace({'obs':{0: 'Runs', 1: 'hides', 2: 'moves', 3: 'stays in place'}})

In [19]:
XGB_apa

      Unnamed: 0            pred             obs  Fold
0              0  stays in place  stays in place     1
1              1  stays in place  stays in place     1
2              2           hides            Runs     1
3              3  stays in place            Runs     1
4              4  stays in place  stays in place     1
...          ...             ...             ...   ...
2062        2062            Runs  stays in place     5
2063        2063  stays in place  stays in place     5
2064        2064  stays in place           moves     5
2065        2065  stays in place           moves     5
2066        2066  stays in place           hides     5

[2067 rows x 4 columns]

In [20]:
XGB_bon

      Unnamed: 0  pred  obs  Fold
0              0     0    0     1
1              1     2    1     1
2              2     2    2     1
3              3     2    1     1
4              4     2    0     1
...          ...   ...  ...   ...
2062        2062     0    1     5
2063        2063     2    2     5
2064        2064     2    1     5
2065        2065     2    3     5
2066        2066     2    3     5

[2067 rows x 4 columns]

In [21]:
XGB_bon = XGB_bon.replace({'pred':{0: 'No Movement', 1: 'Runs', 2: 'jumps', 3: 'moves'}})
XGB_bon = XGB_bon.replace({'obs':{0: 'No Movement', 1: 'Runs', 2: 'jumps', 3: 'moves'}})

In [22]:
XGB_bon

      Unnamed: 0         pred          obs  Fold
0              0  No Movement  No Movement     1
1              1        jumps         Runs     1
2              2        jumps        jumps     1
3              3        jumps         Runs     1
4              4        jumps  No Movement     1
...          ...          ...          ...   ...
2062        2062  No Movement         Runs     5
2063        2063        jumps        jumps     5
2064        2064        jumps         Runs     5
2065        2065        jumps        moves     5
2066        2066        jumps        moves     5

[2067 rows x 4 columns]

In [23]:
XGB_spos

      Unnamed: 0  pred  obs  Fold
0              0     2    3     1
1              1     3    3     1
2              2     0    0     1
3              3     0    0     1
4              4     1    3     1
...          ...   ...  ...   ...
2062        2062     2    5     5
2063        2063     2    1     5
2064        2064     0    0     5
2065        2065     0    0     5
2066        2066     3    2     5

[2067 rows x 4 columns]

In [24]:
XGB_spos = XGB_spos.replace({'pred':{0: 'active',
 1: 'back wall',
 2: 'front wall',
 3: 'in the hideout',
 4: 'left wall',
 5: 'on coconut',
 6: 'right wall'}})
XGB_spos = XGB_spos.replace({'obs':{0: 'active',
 1: 'back wall',
 2: 'front wall',
 3: 'in the hideout',
 4: 'left wall',
 5: 'on coconut',
 6: 'right wall'}})

In [25]:
XGB_spos

      Unnamed: 0            pred             obs  Fold
0              0      front wall  in the hideout     1
1              1  in the hideout  in the hideout     1
2              2          active          active     1
3              3          active          active     1
4              4       back wall  in the hideout     1
...          ...             ...             ...   ...
2062        2062      front wall      on coconut     5
2063        2063      front wall       back wall     5
2064        2064          active          active     5
2065        2065          active          active     5
2066        2066  in the hideout      front wall     5

[2067 rows x 4 columns]

In [26]:
XGB_spoz

      Unnamed: 0  pred  obs  Fold
0              0     1    3     1
1              1     0    1     1
2              2     2    2     1
3              3     2    2     1
4              4     0    3     1
...          ...   ...  ...   ...
2062        2062     0    3     5
2063        2063     0    3     5
2064        2064     2    2     5
2065        2065     2    2     5
2066        2066     3    3     5

[2067 rows x 4 columns]

In [27]:
XGB_spoz = XGB_spoz.replace({'pred':{0: 'S shape', 1: 'U shape', 2: 'active', 3: 'straight'}})
XGB_spoz = XGB_spoz.replace({'obs':{0: 'S shape', 1: 'U shape', 2: 'active', 3: 'straight'}})

In [28]:
XGB_spoz

      Unnamed: 0      pred       obs  Fold
0              0   U shape  straight     1
1              1   S shape   U shape     1
2              2    active    active     1
3              3    active    active     1
4              4   S shape  straight     1
...          ...       ...       ...   ...
2062        2062   S shape  straight     5
2063        2063   S shape  straight     5
2064        2064    active    active     5
2065        2065    active    active     5
2066        2066  straight  straight     5

[2067 rows x 4 columns]

In [29]:
XGB_sr

      Unnamed: 0  pred  obs  Fold
0              0     0    0     1
1              1     0    2     1
2              2     0    0     1
3              3     1    1     1
4              4     1    2     1
...          ...   ...  ...   ...
2062        2062     0    2     5
2063        2063     0    2     5
2064        2064     1    1     5
2065        2065     1    1     5
2066        2066     0    0     5

[2067 rows x 4 columns]

In [30]:
XGB_sr = XGB_sr.replace({'pred':{0: 'No Movement', 1: 'moves', 2: 'moves the head'}})
XGB_sr = XGB_sr.replace({'obs':{0: 'No Movement', 1: 'moves', 2: 'moves the head'}})

In [31]:
XGB_sr

      Unnamed: 0         pred             obs  Fold
0              0  No Movement     No Movement     1
1              1  No Movement  moves the head     1
2              2  No Movement     No Movement     1
3              3        moves           moves     1
4              4        moves  moves the head     1
...          ...          ...             ...   ...
2062        2062  No Movement  moves the head     5
2063        2063  No Movement  moves the head     5
2064        2064        moves           moves     5
2065        2065        moves           moves     5
2066        2066  No Movement     No Movement     5

[2067 rows x 4 columns]

In [32]:
XGB_sr2

      Unnamed: 0  pred  obs  Fold
0              0     0    0     1
1              1     0    0     1
2              2     0    0     1
3              3     0    1     1
4              4     1    1     1
...          ...   ...  ...   ...
2062        2062     1    1     5
2063        2063     1    0     5
2064        2064     1    1     5
2065        2065     1    1     5
2066        2066     0    0     5

[2067 rows x 4 columns]

In [33]:
XGB_sr2 = XGB_sr2.replace({'pred':{0: 'does not licks', 1: 'licks'}})
XGB_sr2 = XGB_sr2.replace({'obs':{0: 'does not licks', 1: 'licks'}})

In [34]:
XGB_sr2

      Unnamed: 0            pred             obs  Fold
0              0  does not licks  does not licks     1
1              1  does not licks  does not licks     1
2              2  does not licks  does not licks     1
3              3  does not licks           licks     1
4              4           licks           licks     1
...          ...             ...             ...   ...
2062        2062           licks           licks     5
2063        2063           licks  does not licks     5
2064        2064           licks           licks     5
2065        2065           licks           licks     5
2066        2066  does not licks  does not licks     5

[2067 rows x 4 columns]

In [35]:
XGB_t

      Unnamed: 0  pred  obs  Fold
0              0     0    0     1
1              1     1    1     1
2              2     1    0     1
3              3     1    1     1
4              4     0    1     1
...          ...   ...  ...   ...
2062        2062     1    0     5
2063        2063     0    0     5
2064        2064     1    2     5
2065        2065     1    2     5
2066        2066     0    2     5

[2067 rows x 4 columns]

In [36]:
XGB_t = XGB_t.replace({'pred':{0: 'No Movement', 1: 'Runs', 2: 'moves'}})
XGB_t = XGB_t.replace({'obs':{0: 'No Movement', 1: 'Runs', 2: 'moves'}})

In [37]:
XGB_t

      Unnamed: 0         pred          obs  Fold
0              0  No Movement  No Movement     1
1              1         Runs         Runs     1
2              2         Runs  No Movement     1
3              3         Runs         Runs     1
4              4  No Movement         Runs     1
...          ...          ...          ...   ...
2062        2062         Runs  No Movement     5
2063        2063  No Movement  No Movement     5
2064        2064         Runs        moves     5
2065        2065         Runs        moves     5
2066        2066  No Movement        moves     5

[2067 rows x 4 columns]

In [38]:
XGB_apa['Target']='apa'
XGB_bon['Target']='bon'
XGB_spos['Target']='spos'
XGB_spoz['Target']='spoz'
XGB_sr['Target']='sr'
XGB_sr2['Target']='sr2'
XGB_t['Target']='t'

In [39]:
XGB=[XGB_apa,XGB_bon,XGB_spos,XGB_spoz,XGB_sr,XGB_sr2,XGB_t]

In [40]:
XGB_result = pd.concat(XGB)

In [41]:
del XGB_result['Unnamed: 0']

In [42]:
XGB_result

                pred             obs  Fold Target
0     stays in place  stays in place     1    apa
1     stays in place  stays in place     1    apa
2              hides            Runs     1    apa
3     stays in place            Runs     1    apa
4     stays in place  stays in place     1    apa
...              ...             ...   ...    ...
2062            Runs     No Movement     5      t
2063     No Movement     No Movement     5      t
2064            Runs           moves     5      t
2065            Runs           moves     5      t
2066     No Movement           moves     5      t

[14469 rows x 4 columns]

## 3. Combine datasets

In [43]:
DT_result['Model']="DT"

In [44]:
DT_result

                pred             obs  Fold Target Model
0     stays in place  stays in place     1    apa    DT
1     stays in place  stays in place     1    apa    DT
2     stays in place            Runs     1    apa    DT
3     stays in place            Runs     1    apa    DT
4     stays in place  stays in place     1    apa    DT
...              ...             ...   ...    ...   ...
2062            Runs     No Movement     5      t    DT
2063            Runs     No Movement     5      t    DT
2064            Runs           moves     5      t    DT
2065            Runs           moves     5      t    DT
2066            Runs           moves     5      t    DT

[14469 rows x 5 columns]

In [45]:
GB_result['Model']="GB"

In [46]:
GB_result

                pred             obs  Fold Target Model
0     stays in place  stays in place     1    apa    GB
1     stays in place  stays in place     1    apa    GB
2     stays in place            Runs     1    apa    GB
3     stays in place            Runs     1    apa    GB
4     stays in place  stays in place     1    apa    GB
...              ...             ...   ...    ...   ...
2062            Runs     No Movement     5      t    GB
2063     No Movement     No Movement     5      t    GB
2064            Runs           moves     5      t    GB
2065            Runs           moves     5      t    GB
2066     No Movement           moves     5      t    GB

[14469 rows x 5 columns]

In [47]:
XGB_result["Model"]='XGB'

In [48]:
XGB_result

                pred             obs  Fold Target Model
0     stays in place  stays in place     1    apa   XGB
1     stays in place  stays in place     1    apa   XGB
2              hides            Runs     1    apa   XGB
3     stays in place            Runs     1    apa   XGB
4     stays in place  stays in place     1    apa   XGB
...              ...             ...   ...    ...   ...
2062            Runs     No Movement     5      t   XGB
2063     No Movement     No Movement     5      t   XGB
2064            Runs           moves     5      t   XGB
2065            Runs           moves     5      t   XGB
2066     No Movement           moves     5      t   XGB

[14469 rows x 5 columns]

In [49]:
All_datasets=[DT_result, GB_result, XGB_result]

In [50]:
All_result = pd.concat(All_datasets)

## 4. Calculate metrics

In [51]:
all_targets=list(pd.unique(All_result['Target']))

In [52]:
all_targets

['apa', 'bon', 'spos', 'spoz', 'sr', 'sr2', 't']

In [53]:
all_folds=list(pd.unique(All_result['Fold']))

In [54]:
all_folds

[1, 2, 3, 4, 5]

In [55]:
all_models=list(pd.unique(All_result['Model']))

In [56]:
all_models

['DT', 'GB', 'XGB']

In [58]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [60]:
target_dict= {
    'apa': 'After putting away',
    'bon' : 'Behaviour on hand',
    'spos' : 'Sleep position',
    'spoz' : 'sleep poze',
    'sr' :  'Splashing reaction',
    'sr2' : 'Splashing reaction 2',
    't': 'Touch reaction'}

In [61]:
target_dict['apa']

'After putting away'

In [62]:
metrics_to_save=pd.DataFrame()
for x in all_models: #Model
    for y in all_targets: # Target
        fold_scores_f1=[]
        fold_scores_prec=[]
        fold_scores_recall=[]
        fold_scores_accuracy=[]
        for z in all_folds: #Fold
            data_silce = All_result.loc[(All_result['Model'] == x) & (All_result['Target'] == y) & (All_result['Fold'] == z)]
            pred = data_silce['pred']
            obs = data_silce['obs']
            
            F_score_f1 = f1_score(obs, pred, average="macro")
            F_score_precison = precision_score(obs, pred, average="macro")
            F_score_recall = recall_score(obs, pred, average="macro")
            F_score_accuracy = accuracy_score(obs, pred)
            
            fold_scores_f1.append(F_score_f1)
            fold_scores_prec.append(F_score_precison)
            fold_scores_recall.append(F_score_recall)
            fold_scores_accuracy.append(F_score_accuracy)
                                        
        A_F_score_f1=sum(fold_scores_f1)/len(fold_scores_f1)
        A_F_score_precison=sum(fold_scores_prec)/len(fold_scores_prec)
        A_F_score_recall=sum(fold_scores_recall)/len(fold_scores_recall)
        A_F_score_accuracy=sum(fold_scores_accuracy)/len(fold_scores_accuracy)
        
        data_fold=pd.DataFrame({"Model" : [x],
                                   "Target" : target_dict[y],
                                   "F1": [A_F_score_f1],
                                   "Precision": [A_F_score_precison],
                                   "Recall": [A_F_score_recall],
                                   "Accuracy": [A_F_score_accuracy]})
        metrics_to_save=pd.concat([metrics_to_save,data_fold])

D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
D:\anaconda\envs\notebook2\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [63]:
metrics_to_save

  Model                Target        F1  Precision    Recall  Accuracy
0    DT    After putting away  0.198243   0.181410  0.257685  0.558217
0    DT     Behaviour on hand  0.283347   0.258570  0.316743  0.516253
0    DT        Sleep position  0.272343   0.267812  0.321551  0.547562
0    DT            sleep poze  0.536436   0.587301  0.559095  0.579994
0    DT    Splashing reaction  0.438422   0.489723  0.463851  0.571341
0    DT  Splashing reaction 2  0.590003   0.606555  0.621520  0.627532
0    DT        Touch reaction  0.384089   0.375003  0.429551  0.505477
0    GB    After putting away  0.225900   0.291154  0.258475  0.526298
0    GB     Behaviour on hand  0.306367   0.339436  0.321060  0.508483
0    GB        Sleep position  0.289263   0.311152  0.314288  0.522415
0    GB            sleep poze  0.555639   0.572828  0.562143  0.575172
0    GB    Splashing reaction  0.434108   0.470188  0.447823  0.557821
0    GB  Splashing reaction 2  0.560515   0.602236  0.585261  0.638185
0    GB        Touch reaction  0.408254   0.426022  0.442095  0.525813
0   XGB    After putting away  0.256590   0.283984  0.271493  0.470673
0   XGB     Behaviour on hand  0.318495   0.349002  0.329438  0.513315
0   XGB        Sleep position  0.284565   0.299159  0.320776  0.529676
0   XGB            sleep poze  0.553623   0.572602  0.559491  0.570802
0   XGB    Splashing reaction  0.424309   0.467488  0.439937  0.559269
0   XGB  Splashing reaction 2  0.554869   0.564179  0.564740  0.612032
0   XGB        Touch reaction  0.418580   0.433466  0.442947  0.521462

In [64]:
metrics_to_save.to_csv('Metrics_final v_2 _with accuracy.csv',sep=',')