## Author
Jarosław Wełeszczuk

# 1. Loading libraries

In [1]:
import pandas as pd
import numpy as np

# 2. Data

## 2.1 Loading data

In [20]:
caly_df=pd.read_csv('geckos2.csv',sep=';')

In [21]:
caly_df

,date,time,temperatur,Sleep poze,Sleep position,splashing reaction,splashing reaction 2,touch reaction,behaviour on hand,after putting away,idividual,season
0,24.04.2019,10,23,straight,in the hideout,No Movement,does not licks,No Movement,No Movement,stays in place,1,1.0
1,24.04.2019,10,23,U shape,in the hideout,moves the head,does not licks,Runs,Runs,stays in place,2,1.0
2,24.04.2019,10,23,active,active,No Movement,does not licks,No Movement,jumps,Runs,3,1.0
3,24.04.2019,10,23,active,active,moves,licks,Runs,Runs,Runs,4,1.0
4,24.04.2019,10,23,straight,in the hideout,moves the head,licks,Runs,No Movement,stays in place,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,28.04.2020,16,26,straight,back wall,moves the head,does not licks,No Movement,jumps,stays in place,17,NaN
2196,28.04.2020,16,26,active,active,moves,licks,moves,Runs,moves,18,NaN
2197,28.04.2020,16,26,active,active,moves,licks,moves,moves,moves,20,NaN
2198,28.04.2020,16,26,straight,front wall,No Movement,does not licks,moves,moves,hides,19,NaN
2199,28.04.2020,16,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN

In [22]:
list(caly_df)

['date',
 'time',
 'temperatur',
 'Sleep poze',
 'Sleep position',
 'splashing reaction',
 'splashing reaction 2',
 'touch reaction',
 'behaviour on hand',
 'after putting away',
 'idividual ',
 'season']

In [23]:
sorted(list(pd.unique(caly_df['idividual '])))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [24]:
caly_df['idividual '].value_counts()

1     110
2     110
19    110
20    110
18    110
17    110
16    110
15    110
13    110
12    110
11    110
10    110
9     110
8     110
7     110
6     110
5     110
4     110
3     110
14    110
Name: idividual , dtype: int64

In [25]:
caly_df['season'].value_counts()

1.0    971
2.0    820
3.0    380
Name: season, dtype: int64

In [26]:
971/2200

0.44136363636363635

In [27]:
380/2200

0.17272727272727273

In [28]:
caly_df['date'].value_counts()

24.04.2019    20
23.10.2019    20
16.12.2019    20
03.12.2019    20
02.12.2019    20
              ..
06.07.2019    20
05.07.2019    20
04.07.2019    20
03.07.2019    20
28.04.2020    20
Name: date, Length: 110, dtype: int64

### 2.2.1 Deleting non informative varaibles

In [29]:
del caly_df['date']
del caly_df['idividual ']
del caly_df['season']

In [30]:
caly_df

,time,temperatur,Sleep poze,Sleep position,splashing reaction,splashing reaction 2,touch reaction,behaviour on hand,after putting away
0,10,23,straight,in the hideout,No Movement,does not licks,No Movement,No Movement,stays in place
1,10,23,U shape,in the hideout,moves the head,does not licks,Runs,Runs,stays in place
2,10,23,active,active,No Movement,does not licks,No Movement,jumps,Runs
3,10,23,active,active,moves,licks,Runs,Runs,Runs
4,10,23,straight,in the hideout,moves the head,licks,Runs,No Movement,stays in place
...,...,...,...,...,...,...,...,...,...
2195,16,26,straight,back wall,moves the head,does not licks,No Movement,jumps,stays in place
2196,16,26,active,active,moves,licks,moves,Runs,moves
2197,16,26,active,active,moves,licks,moves,moves,moves
2198,16,26,straight,front wall,No Movement,does not licks,moves,moves,hides
2199,16,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.2.2 Looking for N/As

In [31]:
caly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  2200 non-null   int64
 1   temperatur            2200 non-null   int64
 2   Sleep poze            2193 non-null   object
 3   Sleep position        2193 non-null   object
 4   splashing reaction    2192 non-null   object
 5   splashing reaction 2  2192 non-null   object
 6   touch reaction        2179 non-null   object
 7   behaviour on hand     2179 non-null   object
 8   after putting away    2179 non-null   object
dtypes: int64(2), object(7)
memory usage: 154.8+ KB

I am removing 21 rows with missing column values

In [32]:
caly_df.dropna(inplace=True)

In [33]:
caly_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2179 entries, 0 to 2198
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  2179 non-null   int64
 1   temperatur            2179 non-null   int64
 2   Sleep poze            2179 non-null   object
 3   Sleep position        2179 non-null   object
 4   splashing reaction    2179 non-null   object
 5   splashing reaction 2  2179 non-null   object
 6   touch reaction        2179 non-null   object
 7   behaviour on hand     2179 non-null   object
 8   after putting away    2179 non-null   object
dtypes: int64(2), object(7)
memory usage: 170.2+ KB

## 2.3 I check the number of classes for each category

### 2.3.1 Sleep poze

In [34]:
caly_df['Sleep poze'].value_counts()

S shape             667
straight            520
active              497
U shape             433
tail on the body     26
tail under belly     17
tailunder head       17
in the hideout        1
talts                 1
Name: Sleep poze, dtype: int64

I am removing the following classes, their size is too small, which would cause noise when training the algorithm

tail on the body     26

tail under belly     17

tailunder head       17

in the hideout        1

talts                 1

In [35]:
caly_df=caly_df[caly_df['Sleep poze']!='tail on the body']

In [36]:
caly_df=caly_df[caly_df['Sleep poze']!='tail under belly']

In [37]:
caly_df=caly_df[caly_df['Sleep poze']!='tailunder head']

In [38]:
caly_df=caly_df[caly_df['Sleep poze']!='in the hideout']

In [39]:
caly_df=caly_df[caly_df['Sleep poze']!='talts']

In [40]:
caly_df['Sleep poze'].value_counts()

S shape     667
straight    520
active      497
U shape     433
Name: Sleep poze, dtype: int64

### 2.3.2 Sleep position

In [41]:
caly_df['Sleep position'].value_counts()

in the hideout    696
active            494
front wall        341
on coconut        260
back wall         191
right wall         69
left wall          62
in the ground       4
Name: Sleep position, dtype: int64

In [42]:
69/2100

0.032857142857142856

In [43]:
0.02*2179

43.58

In [44]:
(50*100)/2179

2.2946305644791187

I remove categories with less than 5%

In [45]:
caly_df=caly_df[caly_df['Sleep position']!='in the ground']

In [46]:
#caly_df=caly_df[caly_df['Sleep position']!='right wall']

In [47]:
#caly_df=caly_df[caly_df['Sleep position']!='left wall']

In [48]:
caly_df['Sleep position'].value_counts()

in the hideout    696
active            494
front wall        341
on coconut        260
back wall         191
right wall         69
left wall          62
Name: Sleep position, dtype: int64

### 2.3.3 Splashing reaction

In [49]:
caly_df['splashing reaction'].value_counts()

No Movement       1088
moves              650
moves the head     371
Runs                 4
Name: splashing reaction, dtype: int64

In [50]:
caly_df=caly_df[caly_df['splashing reaction']!='Runs']

In [51]:
caly_df['splashing reaction'].value_counts()

No Movement       1088
moves              650
moves the head     371
Name: splashing reaction, dtype: int64

### 2.3.4 Splashing reaction 2

In [52]:
caly_df['splashing reaction 2'].value_counts()

does not licks    1367
licks              742
Name: splashing reaction 2, dtype: int64

### 2.3.5 Touch reaction

In [53]:
caly_df['touch reaction'].value_counts()

No Movement       884
Runs              768
moves             421
barks              24
jumps               6
hides               5
in the hideout      1
Name: touch reaction, dtype: int64

I remove categories with too few categories (<5%)

In [54]:
caly_df=caly_df[caly_df['touch reaction']!='barks']

In [55]:
caly_df=caly_df[caly_df['touch reaction']!='jumps']

In [56]:
caly_df=caly_df[caly_df['touch reaction']!='hides']

In [57]:
caly_df=caly_df[caly_df['touch reaction']!='in the hideout']

In [58]:
caly_df['touch reaction'].value_counts()

No Movement    884
Runs           768
moves          421
Name: touch reaction, dtype: int64

###  2.3.6 Behaviour on hand

In [59]:
caly_df['behaviour on hand'].value_counts()

jumps          921
No Movement    769
Runs           276
moves          107
Name: behaviour on hand, dtype: int64

In [60]:
96/(861+724+265+96)

0.04933196300102775

### 2.3.7 After putting away

In [61]:
caly_df['after putting away'].value_counts()

stays in place         1170
Runs                    344
hides                   344
moves                   209
moves on the ground       6
Name: after putting away, dtype: int64

In [62]:
caly_df=caly_df[caly_df['after putting away']!='moves on the ground']

In [63]:
caly_df['after putting away'].value_counts()

stays in place    1170
Runs               344
hides              344
moves              209
Name: after putting away, dtype: int64

In [77]:
caly_df

,time,temperatur,Sleep poze,Sleep position,splashing reaction,splashing reaction 2,touch reaction,behaviour on hand,after putting away
0,10,23,straight,in the hideout,No Movement,does not licks,No Movement,No Movement,stays in place
1,10,23,U shape,in the hideout,moves the head,does not licks,Runs,Runs,stays in place
2,10,23,active,active,No Movement,does not licks,No Movement,jumps,Runs
3,10,23,active,active,moves,licks,Runs,Runs,Runs
4,10,23,straight,in the hideout,moves the head,licks,Runs,No Movement,stays in place
...,...,...,...,...,...,...,...,...,...
2194,16,26,straight,on coconut,moves the head,licks,No Movement,Runs,stays in place
2195,16,26,straight,back wall,moves the head,does not licks,No Movement,jumps,stays in place
2196,16,26,active,active,moves,licks,moves,Runs,moves
2197,16,26,active,active,moves,licks,moves,moves,moves
2198,16,26,straight,front wall,No Movement,does not licks,moves,moves,hides

## 3. Encode categorical variables into sparse matrices

### 3.1 Sleep Poze [SPz]

In [64]:
caly_df['Sleep poze'].value_counts()

S shape     655
straight    501
active      486
U shape     425
Name: Sleep poze, dtype: int64

In [65]:
a=pd.get_dummies(caly_df['Sleep poze'])

In [66]:
a.columns = ['SPz | S shape','SPz | U shape','SPz | active','SPz | straight']

In [67]:
a

      SPz | S shape  SPz | U shape  SPz | active  SPz | straight
0                 0              0             0               1
1                 0              1             0               0
2                 0              0             1               0
3                 0              0             1               0
4                 0              0             0               1
...             ...            ...           ...             ...
2194              0              0             0               1
2195              0              0             0               1
2196              0              0             1               0
2197              0              0             1               0
2198              0              0             0               1

[2067 rows x 4 columns]

### 3.2 Sleep Position [SPs]

In [68]:
caly_df['Sleep position'].value_counts()

in the hideout    685
active            483
front wall        323
on coconut        259
back wall         190
right wall         68
left wall          59
Name: Sleep position, dtype: int64

In [69]:
b=pd.get_dummies(caly_df['Sleep position'])

In [70]:
b

,active,back wall,front wall,in the hideout,left wall,on coconut,right wall
0,0,0,0,1,0,0,0
1,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
2194,0,0,0,0,0,1,0
2195,0,1,0,0,0,0,0
2196,1,0,0,0,0,0,0
2197,1,0,0,0,0,0,0
2198,0,0,1,0,0,0,0

In [71]:
b.columns = ['SPs | active','SPs | back wall','SPs | front wall','SPs | in the hideout','SPs | left wall','SPs | on coconut','SPs | right wall']

In [72]:
b

,SPs | active,SPs | back wall,SPs | front wall,SPs | in the hideout,SPs | left wall,SPs | on coconut,SPs | right wall
0,0,0,0,1,0,0,0
1,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...
2194,0,0,0,0,0,1,0
2195,0,1,0,0,0,0,0
2196,1,0,0,0,0,0,0
2197,1,0,0,0,0,0,0
2198,0,0,1,0,0,0,0

### 3.3 Splashing Reaction [SR]

In [73]:
caly_df['splashing reaction'].value_counts()

No Movement       1062
moves              638
moves the head     367
Name: splashing reaction, dtype: int64

In [74]:
c=pd.get_dummies(caly_df['splashing reaction'])

In [75]:
c.columns = ['SR | no movement','SR | moves','SR | moves the head']

In [76]:
c

      SR | no movement  SR | moves  SR | moves the head
0                    1           0                    0
1                    0           0                    1
2                    1           0                    0
3                    0           1                    0
4                    0           0                    1
...                ...         ...                  ...
2194                 0           0                    1
2195                 0           0                    1
2196                 0           1                    0
2197                 0           1                    0
2198                 1           0                    0

[2067 rows x 3 columns]

### 3.4 Splashing Reaction 2 [SR2]

In [50]:
caly_df['splashing reaction 2'].value_counts()

does not licks    1338
licks              729
Name: splashing reaction 2, dtype: int64

In [51]:
d=pd.get_dummies(caly_df['splashing reaction 2'])

In [52]:
d

      does not licks  licks
0                  1      0
1                  1      0
2                  1      0
3                  0      1
4                  0      1
...              ...    ...
2194               0      1
2195               1      0
2196               0      1
2197               0      1
2198               1      0

[2067 rows x 2 columns]

In [53]:
d.columns =['SR2 | does not licks','SR2 | licks']

In [54]:
d

      SR2 | does not licks  SR2 | licks
0                        1            0
1                        1            0
2                        1            0
3                        0            1
4                        0            1
...                    ...          ...
2194                     0            1
2195                     1            0
2196                     0            1
2197                     0            1
2198                     1            0

[2067 rows x 2 columns]

### 3.5 Touch Reaction [TR]

In [55]:
caly_df['touch reaction'].value_counts()

No Movement    881
Runs           766
moves          420
Name: touch reaction, dtype: int64

In [56]:
e=pd.get_dummies(caly_df['touch reaction'])

In [57]:
e

      No Movement  Runs  moves
0               1     0      0
1               0     1      0
2               1     0      0
3               0     1      0
4               0     1      0
...           ...   ...    ...
2194            1     0      0
2195            1     0      0
2196            0     0      1
2197            0     0      1
2198            0     0      1

[2067 rows x 3 columns]

In [58]:
e.columns =['TR | no movement','TR | runs', 'TR | moves']

In [59]:
e

      TR | no movement  TR | runs  TR | moves
0                    1          0           0
1                    0          1           0
2                    1          0           0
3                    0          1           0
4                    0          1           0
...                ...        ...         ...
2194                 1          0           0
2195                 1          0           0
2196                 0          0           1
2197                 0          0           1
2198                 0          0           1

[2067 rows x 3 columns]

### 3.6 Behaviour on Hand [BoH]

In [60]:
caly_df['behaviour on hand'].value_counts()

jumps          920
No Movement    765
Runs           276
moves          106
Name: behaviour on hand, dtype: int64

In [61]:
f=pd.get_dummies(caly_df['behaviour on hand'])

In [62]:
f

      No Movement  Runs  jumps  moves
0               1     0      0      0
1               0     1      0      0
2               0     0      1      0
3               0     1      0      0
4               1     0      0      0
...           ...   ...    ...    ...
2194            0     1      0      0
2195            0     0      1      0
2196            0     1      0      0
2197            0     0      0      1
2198            0     0      0      1

[2067 rows x 4 columns]

In [63]:
f.columns =['BoH | no movement','BoH | runs', 'BoH | jumps', 'BoH | moves']

In [64]:
f

      BoH | no movement  BoH | runs  BoH | jumps  BoH | moves
0                     1           0            0            0
1                     0           1            0            0
2                     0           0            1            0
3                     0           1            0            0
4                     1           0            0            0
...                 ...         ...          ...          ...
2194                  0           1            0            0
2195                  0           0            1            0
2196                  0           1            0            0
2197                  0           0            0            1
2198                  0           0            0            1

[2067 rows x 4 columns]

### 3.7 After putting Away [ApA]

In [65]:
caly_df['after putting away'].value_counts()

stays in place    1170
hides              344
Runs               344
moves              209
Name: after putting away, dtype: int64

In [66]:
g=pd.get_dummies(caly_df['after putting away'])

In [67]:
g

      Runs  hides  moves  stays in place
0        0      0      0               1
1        0      0      0               1
2        1      0      0               0
3        1      0      0               0
4        0      0      0               1
...    ...    ...    ...             ...
2194     0      0      0               1
2195     0      0      0               1
2196     0      0      1               0
2197     0      0      1               0
2198     0      1      0               0

[2067 rows x 4 columns]

In [68]:
g.columns =['ApA | runs','ApA | hides', 'ApA | moves', 'ApA | stayes in place']

In [69]:
g

      ApA | runs  ApA | hides  ApA | moves  ApA | stayes in place
0              0            0            0                      1
1              0            0            0                      1
2              1            0            0                      0
3              1            0            0                      0
4              0            0            0                      1
...          ...          ...          ...                    ...
2194           0            0            0                      1
2195           0            0            0                      1
2196           0            0            1                      0
2197           0            0            1                      0
2198           0            1            0                      0

[2067 rows x 4 columns]

In [70]:
caly_df= pd.concat([caly_df,a,b,c,d,e,f,g], axis=1)

In [71]:
caly_df

,time,temperatur,Sleep poze,Sleep position,splashing reaction,splashing reaction 2,touch reaction,behaviour on hand,after putting away,SPz | S shape,...,TR | runs,TR | moves,BoH | no movement,BoH | runs,BoH | jumps,BoH | moves,ApA | runs,ApA | hides,ApA | moves,ApA | stayes in place
0,10,23,straight,in the hideout,No Movement,does not licks,No Movement,No Movement,stays in place,0,...,0,0,1,0,0,0,0,0,0,1
1,10,23,U shape,in the hideout,moves the head,does not licks,Runs,Runs,stays in place,0,...,1,0,0,1,0,0,0,0,0,1
2,10,23,active,active,No Movement,does not licks,No Movement,jumps,Runs,0,...,0,0,0,0,1,0,1,0,0,0
3,10,23,active,active,moves,licks,Runs,Runs,Runs,0,...,1,0,0,1,0,0,1,0,0,0
4,10,23,straight,in the hideout,moves the head,licks,Runs,No Movement,stays in place,0,...,1,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194,16,26,straight,on coconut,moves the head,licks,No Movement,Runs,stays in place,0,...,0,0,0,1,0,0,0,0,0,1
2195,16,26,straight,back wall,moves the head,does not licks,No Movement,jumps,stays in place,0,...,0,0,0,0,1,0,0,0,0,1
2196,16,26,active,active,moves,licks,moves,Runs,moves,0,...,0,1,0,1,0,0,0,0,1,0
2197,16,26,active,active,moves,licks,moves,moves,moves,0,...,0,1,0,0,0,1,0,0,1,0
2198,16,26,straight,front wall,No Movement,does not licks,moves,moves,hides,0,...,0,1,0,0,0,1,0,1,0,0

In [72]:
list(caly_df.columns)

['time',
 'temperatur',
 'Sleep poze',
 'Sleep position',
 'splashing reaction',
 'splashing reaction 2',
 'touch reaction',
 'behaviour on hand',
 'after putting away',
 'SPz | S shape',
 'SPz | U shape',
 'SPz | active',
 'SPz | straight',
 'SPs | active',
 'SPs | back wall',
 'SPs | front wall',
 'SPs | in the hideout',
 'SPs | left wall',
 'SPs | on coconut',
 'SPs | right wall',
 'SR | no movement',
 'SR | moves',
 'SR | moves the head',
 'SR2 | does not licks',
 'SR2 | licks',
 'TR | no movement',
 'TR | runs',
 'TR | moves',
 'BoH | no movement',
 'BoH | runs',
 'BoH | jumps',
 'BoH | moves',
 'ApA | runs',
 'ApA | hides',
 'ApA | moves',
 'ApA | stayes in place']

In [73]:
caly_df.to_csv('Prepared_gekos_data.csv',sep=';',index=False)